body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.navbar {
    background: linear-gradient(90deg, #ffffff, #ffe680);
    color: black;
    padding: 20px 30px;
    text-align: center;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;
    position: relative;
}

.navbar .brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 50px;
    color: #333;
}

.navbar a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin-left: 10px;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #ffcc00;
    color: black;
    border-radius: 4px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: auto; /* Sayfada ortalamak için */
    height: 70vh; /* Dikey olarak ortalamak için esnek bir yükseklik */
}

.profile-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%; /* Form elemanlarının genişliğini ayarlar */
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    background: linear-gradient(90deg, #ffffff, #ffe680);
    color: black;
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #0056b3;
}

.footer a:active {
    color: #003a75;
}